.carousel-control-next,
.carousel-control-prev {
  width: 2%;
}
.carousel-indicators {
  margin-bottom: 0;
  display: none;
  li {
    margin-bottom: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px;
  }
  .active {
    // border: 1px solid #007bff;
    align-self: center;
  }
}

.wrap-bg1 {
  background: #fd7e14;
}
.wrap-bg2 {
  background: #007bff;
}
.wrap-bg3 {
  background: #6610f2;
}

.carousel-item {
  .gatsby-image-wrapper {
    min-height: 260px;
    background: #007bff;
  }
  a {
    position: absolute;
    bottom: 8%;
  }
  .contact {
    left: calc(6% + 150px);
  }
  .send {
    left: 6%;
  }
  .background2 {
    // background: #0f1111;
    opacity: 0.9;
  }
  .background1 {
    filter: opacity(0.9);
  }
}
.carousel-caption {
  top: calc((90% - 170px) / 2);
  left: 5%;
  right: unset;
  bottom: unset;
  text-align: start;
  color: #0f1111;
  max-height: 160px;
  overflow: hidden;
  @media (max-width: 374px) {
    top: -5%;
    h2 {
      font-size: 1.6rem;
    }
  }

  .titleProduct {
    top: 0;
    display: block;
    color: white;
    // color: #0f1111;
  }
  span {
    display: block;
    max-width: 460px;
    color: white;
  }
}
.whyus {
  margin: 20px auto;
  text-align: center;

  background: #17a2b8;
  color: white;
  padding: 10px 0;
}
.whyus_card {
  margin-bottom: 20px;
}
.whyus_card1,
.whyus_card3 {
  margin-left: -15px;
  .whyus_title {
    border-right: 4px solid red;
  }
}
.whyus_card2,
.whyus_card4 {
  margin-left: 30px;
  margin-right: -15px;
  .whyus_title {
    border-left: 4px solid red;
  }
}
.whyus_title {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #17a2b8;
  padding-top: 10px;
  padding-left: 8px;
  box-shadow: 0px 4px 6px 2px #ddd;
  svg {
    padding-right: 8px;
    align-self: center;
    margin-bottom: 6px;
  }
  h3 {
    line-height: 1;
  }
}
.card {
  .card-body {
    padding: 18px;
  }
}
.marquee {
  width: 100%;
  height: 50px;
  // display: flex;
  // flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  // justify-content: space-between;
  align-items: center;

  span {
    width: 150px;
    height: 40px;
    display: inline-block;
    position: relative;
    left: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    animation: marquee 16s linear infinite;
  }
}

.marquee span:nth-child(1) {
  background-image: url("../images/brandslide/apple.png");
  animation-delay: 0s;
}
.marquee span:nth-child(2) {
  background-image: url("../images/brandslide/samsung.png");
  animation-delay: 0.4s;
}

.marquee span:nth-child(3) {
  background-image: url("../images/brandslide/htc.png");
  animation-delay: 0.8s;
}

.marquee span:nth-child(4) {
  background-image: url("../images/brandslide/lg.png");
  animation-delay: 1.2s;
}

.marquee span:nth-child(5) {
  background-image: url("../images/brandslide/nexus.png");
  animation-delay: 1.6s;
}

.marquee span:nth-child(6) {
  background-image: url("../images/brandslide/nokia.png");
  animation-delay: 2.2s;
}

.marquee span:nth-child(7) {
  background-image: url("../images/brandslide/xiaomi.png");
  animation-delay: 2.6s;
}

.marquee span:nth-child(8) {
  background-image: url("../images/brandslide/huawei.png");
  animation-delay: 3s;
}

@keyframes marquee {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

@media (max-width: 765px) {
  .whyus_card {
    margin: 0;
  }
  .container {
    padding: 0;
  }
}
// #17a2b8
.reachus-method {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: white;
  padding-top: 10px;
  padding-left: 8px;
  justify-content: center;

  svg {
    padding-right: 8px;
    align-self: center;
    margin-bottom: 6px;
    color: white;
  }
  h3 {
    line-height: 1;
  }
}
.reachus-facebook {
  cursor: pointer;
}
.reachus {
  text-align: center;
  background: #17a2b8;
  // padding: 20px 10px;
  border: 1px dashed white;
  span {
    color: white;
  }
  .reachus-border {
    border: 2px solid white;
    padding: 10px;
  }
}
